@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SokchoBadaBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'TTHakgyoansimMulgyeolB';
    text-align: center;
    font-size: 80px;
    position: relative;
    bottom: 30px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SokchoBadaBatang';
}

.dateSearch {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: baseline; /* 기간 검색과 키워드 검색 일렬로 정렬 */
}


#date1 {
    padding: 10px;
    border:2px solid darkgray;
    border-radius: 10px;
    height: 20px;
    font-size: 12px;
    color: darkgray;
    font-family: 'SokchoBadaBatang';
}

#date2 {
    padding: 10px;
    border:2px solid darkgray;
    border-radius: 10px;
    height: 20px;
    font-size: 12px;
    color: darkgray;
    font-family: 'SokchoBadaBatang';
}

.search-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 60px;
}


.searchUpPart {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    z-index: 9;
    top: 8%; /* 뷰 상단에 고정*/
    left: 50%;
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위한 설정 */
}


.date {
    font-size: 16px;
    padding: 2px;
}

.search-part {
    flex-basis: 50%;
    justify-content: center;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 20px;
    width: auto;
}

.search-bar {
    padding: 10px;
    font-size: 12px;
    height: 20px;
    width: 100%;
    border-radius:10px;
    border: 2px solid darkgray;
    font-family: 'SokchoBadaBatang';
}

.search-button {
    width: 10%;
    height:25px; /* 버튼의 높이 조절 */
    font-size: 20px;
    color: darkgray;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom:13px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.searchDownPart {
    display: flex;
    justify-content: flex-start;
    padding-left: 1%;
    flex-direction: column;
}

.eventType input[type="checkbox"],
.locationName input[type="checkbox"] {
    display: none;
}

.eventType label,
.locationName label {
    cursor: pointer; /* 마우스를 올렸을 때 포인터로 변경 */
    font-size: 12px;
    background-color: rgba(220, 220, 220, 0.9);
    border-radius: 30px;
    padding: 5px;
}

.eventType, .locationName {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

/* 선택된 체크박스에 대한 라벨 스타일을 변경합니다. */
input[type="checkbox"]:checked + label {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(200, 200, 200, 0.9);
    border-radius: 20px;
    padding: 5px;
}

.detailButton {
    text-align: center;
}

.detailButton button {
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    font-family: 'SokchoBadaBatang';
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(220, 220, 220, 0.8);
}

.item {
    display: flex;
    align-items: center;
    position: relative;
}

img {
    width: 80px;
    height: 120px;
}

.items-grid p {
    margin: 5px;
}

.items-grid h4 {
    margin-top:0px;
    margin-bottom: 12px;
    margin-left: 5px;
}

.items-grid .item .event-location {
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.items-grid .item .event-location img {
    width: 25px;
    height: 25px;
}

.item {
    margin: 5px;
}

.itemimg {
    box-shadow: 2px 2px gray;
    border-radius: 5px;
}
/* 컨테이너 스타일 설정 */
#container {
    display: flex;
    height: 100vh;
    position: relative;
}
/* 세부 정보 섹션 스타일 설정 */
#details {
    width: 400px;
    overflow-y: auto; /* 내용이 높이를 초과하면 스크롤바 표시 */
    max-height: 100vh; /* 뷰포트 높이를 초과하지 않도록 제한 */
    transition: width 0.5s; /* 너비 변경에 대한 부드러운 전환 효과 */

}
/* 지도 섹션 스타일 설정 */
.map_wrap {
    flex-grow: 1;
    height: 100vh; /* 지도 높이 설정 */
    width: 100vh;
    position: relative;

}
#map {
    height: 100%;
}

#toggle-button {
    position: absolute;
    top: 45%;
    left: 450px; /* 상세 정보 너비만큼 왼쪽으로 오프셋 */
    z-index: 10; /* 버튼이 맨 위에 오도록 z-index 설정 */
    transition: left 0.5s; /* 버튼에도 부드러운 효과 */
    border: none; /* 버튼 테두리 없애기 */
    background-color: white; /* 배경색 투명 */
    cursor: pointer; /* 마우스 오버시 커서 모양 변경 */
    padding: 0; /* 패딩 제거 */
}

#toggle-button img {
    width: 20px; /* 아이콘 크기 조절 */
    height: 40px; /* 높이 자동 조절 */
}

#toggle-icon {
    transition: transform 0.5s; /* 회전에 부드러운 전환 효과 추가 */
}


.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {position:absolute;top:6%;right:30px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:9;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:13%;right:30px;width:36px;height:80px;overflow:hidden;z-index:9;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

#category {position:absolute;top:3%;left:5%;border-radius: 10px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 9; padding-left:0;}
#category li {float:left;list-style: none;width:70px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li img { /* 이미지 크기 조정 */
    width: 40px; /* 새 이미지 너비 */
    height: 42px; /* 새 이미지 높이 */
    display: block;
    margin: 0 auto; /* 중앙 정렬 */
}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd; background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}
.markerinfo {
    border-radius: 6px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 1px 2px #888;
    width: 200px;
}
.markerinfo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 5px;
    gap: 5px; /* 요소들 사이의 간격 */
    max-height: 200px;
    overflow-y: auto; /* 세로 스크롤바 생성 */
}
.markerinfo a, .markerinfo a:hover, .markerinfo a:active{color:#fff;text-decoration: none; white-space: normal; display: block;}
.markerinfo a, .markerinfo span {display: block; text-overflow: ellipsis;overflow: hidden;white-space: normal;}
.markerinfo span {margin:5px 5px 0 5px; cursor: default;font-size:13px;}
.markerinfo .title {font-weight: bold; white-space:normal; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}

.markerinfo2 {
    border-radius: 6px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 1px 2px #888;
    width: 200px;
}
.markerinfo-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 5px;
    gap: 5px; /* 요소들 사이의 간격 */
    max-height: 200px;
    overflow-y: auto; /* 세로 스크롤바 생성 */
    position: relative;
}
.markerinfo2 a, .markerinfo2 a:hover, .markerinfo2 a:active{color:#fff;text-decoration: none; white-space: normal; display: block;}
.markerinfo2 a, .markerinfo2 span {display: block; text-overflow: ellipsis;overflow: hidden;white-space: normal;}
.markerinfo2 span {margin:5px 5px 0 5px; cursor: default;font-size:13px;}
.markerinfo2 .title {font-weight: bold; white-space:normal; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}

#CurrentLocation {position:absolute;bottom:30px;right:30px;border-radius: 10px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2; padding-left:0;}
#CurrentLocation li {list-style: none;width:70px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#CurrentLocation li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}