
<!DOCTYPE html>
<html>
<head>
    <title>Custom Homepage with Map</title>
    <meta charset="UTF-8">
    <style>
        /* 컨테이너 스타일 설정 */
        #container {
            display: flex;
            height: 100vh;
        }
        /* 세부 정보 섹션 스타일 설정 */
        #details {
            flex: 1; /* 화면의 1/4 차지 */
            padding: 20px;
        }
        /* 지도 섹션 스타일 설정 */
        #map {
            flex: 3; /* 화면의 3/4 차지 */
            height: 100%; /* 지도 높이 설정 */
        }
    </style>
</head>
<body>
<div id="container">
    <div id="details">
        <h1>세부사항 및 정보</h1>
        <p>여기에 세부사항 및 정보를 입력하세요.</p>


        <h4 th:text="${title}">Event Title</h4>

        <p>Homepage URL:
            <a th:href="${homePage}" style="text-decoration: none; color: black;" target="_blank">
                <span th:text="${homePage}"></span>
            </a>
        </p>

        <p>Latitude: <span th:text="${lat}"></span></p>
        <p>Longitude: <span th:text="${lot}"></span></p>

    </div>

    <div id="map"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=33db73c119b1dea112b5e9038fd6ef2a"></script>
    <script th:inline="javascript">

        // 카카오맵 API 초기화
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng('37.566826', '126.9786567'), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 미리 생성
        var map;
        kakao.maps.load(function() {
            // DOM이 로드된 후에 지도를 표시
            // 지도 생성 및 객체 리턴
            map = new kakao.maps.Map(mapContainer, mapOption);
        });
    </script>

</div>


</body>
</html>

