<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서울은 지금</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/css.css">

</head>
<body>
    <div id="content">

        <div class="header">
            <h1>
                <a href="home">
                    서울은 지금
                </a>
            </h1>

           <div class="weather-toMap-container">
               <div class="weather">

                   <div class='CurrIcon'></div>
                   <div class="weather-info" style="display: flex; flex-direction: column; align-items: flex-start; padding-right: 10px;">
                       <div class='CurrTemp' style="text-align: center; font-size: 30px; font-weight: bold;"></div>
                       <div class='City' style="text-align: center; font-size: 30px; font-weight: bold;"></div>
                   </div>
               </div>

               <div class="ToMAP">
                   <a href="/mapPage" style="text-decoration: none">
                       <img src="image/map.png" alt="지도 보기">
                   </a>
               </div>

               <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
               <script>
                   $(document).ready(function (){
                       $.ajax({
                           url: 'https://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=5d9b3b800dfed24a20f68eeb480f5d9d&units=metric',
                           dataType:'json',
                           type:'GET',
                           success: function (data){
                               var iconUrl = 'http://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png';
                               var temperature = Math.floor(data.main.temp) + '°C';
                               var city = data.name;

                               $('.CurrIcon').html('<img src="' + iconUrl + '">');
                               $('.CurrTemp').text(temperature);
                               $('.City').text(city);
                           }
                       })
                   });
               </script>

               <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
               <script>
                   $(document).ready(function (){
                       $.ajax({
                           url: 'https://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=5d9b3b800dfed24a20f68eeb480f5d9d&units=metric',
                           dataType:'json',
                           type:'GET',
                           success: function (data){
                               var iconUrl = 'http://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png';
                               var temperature = Math.floor(data.main.temp) + '°C';
                               var city = data.name;

                               $('.CurrIcon').html('<img src="' + iconUrl + '">');
                               $('.CurrTemp').text(temperature);
                               $('.City').text(city);
                           }
                       })
                   });
               </script>


               <!--<div id="clock">
                   <div id="date" style="font-size: 30px">날짜</div>
                   <div id="time" style="font-size: 30px; text-align: center">시간</div>
               </div>-->

           </div>
        </div>
    </div>

    <script>
        function clock() {
            var now = new Date();
            var month = now.getMonth();
            var date = now.getDate();
            var day = now.getDay();
            var week = ['일', '월', '화', '수', '목', '금', '토'];
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            document.getElementById('date').innerText = `${month + 1}월 ${date}일 ${week[day]}요일`;
            document.getElementById('time').innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행
    </script>
    <div class="background-image-container">
        <div class="swiper-container">
            <!-- 슬라이더의 각 슬라이드를 담을 래퍼 -->
            <div class="swiper-wrapper">
                <!-- Thymeleaf를 사용하여 아이템들을 반복하여 각 슬라이드 생성 -->
                <div th:each="item : ${items}" class="swiper-slide">
                    <div class="image-container">
                        <a th:href="@{/eventInfo(title=${item.TITLE})}">
                            <img th:src="${item.MAIN_IMG}" alt="Image"/>
                        </a>
                    </div>
                    <div class="title">
                        <h3 th:text="${item.TITLE}">Item Title</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
        </div>
    </div>


    <div class="search-container">
        <div class="searchUpPart">
            <div class="dateContainer">
                <div class="date">
                    <label for="date1"> 시작 날짜:
                        <input type="date" id="date1"></input>
                    </label>

                </div>
                <div class="date"> ~ </div>
                <div class="date">
                    <label for="date2"> 종료 날짜:
                        <input type="date" id="date2" value="2024-12-31"></input>
                    </label>
                </div>
            </div>

            <div>
                <form class="search-part" id="searchForm" action="/search" method="get">
                    <input type="text" name="keyword" class="search-bar" placeholder="키워드를 입력하세요." required>
                    <button class="search-button" type="submit">🔍︎</button>
                </form>
            </div>
        </div>
        <div class="searchDownPart">
            <div>
                <label><input type="checkbox" name="codename" value="전체"> 전체</label>
                <label><input type="checkbox" name="codename" value="공연"> 공연</label>
                <label><input type="checkbox" name="codename" value="전시"> 전시</label>
                <label><input type="checkbox" name="codename" value="축제"> 축제</label>
                <label><input type="checkbox" name="codename" value="기타"> 기타</label>
            </div>

            <div class="locationName">
                <select id="location" onchange="sort()">
                    <option value="종로구" th:selected="${selectedMonth == '종로구'}">종로구</option>
                    <!--<option value="즐겨찾기" th:selected="${selectedMonth == '즐겨찾기'}">즐겨찾기</option>-->
                    <option value="강남구" th:selected="${selectedMonth == '강남구'}">강남구</option>
                    <option value="강서구" th:selected="${selectedMonth == '강서구'}">강서구</option>
                    <option value="중구" th:selected="${selectedMonth == '중구'}">중구</option>
                    <option value="마포구" th:selected="${selectedMonth == '마포구'}">마포구</option>
                    <option value="은평구" th:selected="${selectedMonth == '은평구'}">은평구</option>

                </select>

                <script>
                    function sort() {
                        var selectedOption = document.getElementById('sortOptions').value;
                        // 서버로 GET 요청 보내기
                        fetch(`/get함수이름?지역=${location}`)
                            .then(response => response.text())
                            .then(html => {
                                // 페이지의 일부를 서버의 응답으로 업데이트
                                document.getElementById('content').innerHTML = html;
                            })
                            .catch(error => console.error('Error:', error));
                    }
                </script>
            </div>

        </div>


    </div><br>

    <script>
        // 현재 날짜를 가져오는 함수
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            let month = today.getMonth() + 1;
            let day = today.getDate();

            // 월과 일이 한 자리 숫자인 경우 앞에 0을 추가해줍니다.
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            return `${year}-${month}-${day}`;
        }

        // input 요소의 value 속성에 현재 날짜를 설정합니다.
        document.getElementById('date1').value = getCurrentDate();
    </script>



    <div class="sort-part">
        <!-- 옵션들이 담길 드롭다운 컨테이너, 기본적으로 숨겨져 있습니다 -->
        <select id="sortOptions" onchange="sort()">
            <option value="전체" th:selected="${selectedMonth == '전체'}">전체</option>
            <!--<option value="즐겨찾기" th:selected="${selectedMonth == '즐겨찾기'}">즐겨찾기</option>-->
            <option value="1" th:selected="${selectedMonth == '1'}">1월</option>
            <option value="2" th:selected="${selectedMonth == '2'}">2월</option>
            <option value="3" th:selected="${selectedMonth == '3'}">3월</option>
            <option value="4" th:selected="${selectedMonth == '4'}">4월</option>
            <option value="5" th:selected="${selectedMonth == '5'}">5월</option>
            <option value="6" th:selected="${selectedMonth == '6'}">6월</option>
            <option value="7" th:selected="${selectedMonth == '7'}">7월</option>
            <option value="8" th:selected="${selectedMonth == '8'}">8월</option>
            <option value="9" th:selected="${selectedMonth == '9'}">9월</option>
            <option value="10" th:selected="${selectedMonth == '10'}">10월</option>
            <option value="11" th:selected="${selectedMonth == '11'}">11월</option>
            <option value="12" th:selected="${selectedMonth == '12'}">12월</option>


        </select>

        <script>
            function sort() {
                var selectedOption = document.getElementById('sortOptions').value;
                // 서버로 GET 요청 보내기
                fetch(`/monthlySort?month=${selectedOption}`)
                    .then(response => response.text())
                    .then(html => {
                        // 페이지의 일부를 서버의 응답으로 업데이트
                        document.getElementById('content').innerHTML = html;
                    })
                    .catch(error => console.error('Error:', error));
            }
        </script>
    </div>
    <br>
    <div id="eventsContainer">
    <!-- 검색 결과 표시 -->
        <div th:if="${lists != null}" th:unless="${lists.isEmpty()}">
            <div class="items-grid">
                <div  th:each="event : ${lists}" class="item">
                    <div style="padding: 10px">
                        <!--<div class="star" th:data-culture-info-id="${event.Id}">★</div>-->
                        <a th:href="@{/eventInfo(title=${event.TITLE})}">
                            <img th:src="${event.MAIN_IMG}" alt="Event Image" width="200" height="280">
                        </a>
                        <div class="gridText">
                            <span th:text="${event.TITLE}" ></span>
                        </div>
                        <br><br>
                        <!--<div>
                            <span th:text="${event.PLACE}"></span>
                        </div>
                        <br>
                        <div>
                            <span th:text="${event.STRTDATE} "></span>
                            ~
                            <span th:text="${event.END_DATE}"></span>
                        </div>-->
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${lists == null || lists.isEmpty()}">
            <p>검색 결과가 없습니다.</p>
        </div>
    </div>

    <!-- 페이지 버튼 -->
    <div th:if="${totalPages > 1}">
        <div class="button_number">
            <div class="row">
                <button style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home'}}">«</a>
                </button>

                <button th:if="${currentPage > 1}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + (startPage - 1)}}"><</a>
                </button>

                <button th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + pageNumber}}" th:text="${pageNumber}"></a>
                </button>


                <button th:if="${currentPage < totalPages}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + (endPage + 1)}}">>︎</a>
                </button>

                <button style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + totalPages}}">»︎</a>
                </button>
            </div>
        </div>
    </div> <br>

    <!--<script>
        // 모든 별을 선택합니다.
        document.querySelectorAll('.star').forEach(function(star) {
            star.addEventListener('click', function(e) {
                // 클릭된 별에 'active' 클래스를 토글합니다.
                e.target.classList.toggle('active');

                var cultureInfoId = e.target.dataset.cultureInfoId; // 데이터 속성을 통해 cultureInfo ID를 가져옵니다.

                // AJAX 요청을 서버에 보냅니다.
                fetch('/home', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ cultureInfoId: cultureInfoId }),
                })
                    .then(response => response.json())
                    .then(data => {
                        // 여기서 응답 처리를 합니다. 예를 들어, UI를 업데이트합니다.
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });



    </script>-->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            autoplay: {
                delay:3000 },
            centeredSlide:true,
            loop: true,
            debugger: true,
            slideToClickedSlide: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true},
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar:{
            el:'.swiper-scrollbar',},
            slidesPerView: 5,
            slidesPerGroup: 1,
            spaceBetween:10,
        });
    </script>
    <script>
        function sort() {
            var selectedOption = document.getElementById('sortOptions').value;
            // 서버로 GET 요청 보내기
            fetch(`/monthlySort?month=${selectedOption}`)
                .then(response => response.json()) // JSON 형식으로 응답 받기
                .then(data => {
                    // 검색 결과를 받아서 UI 업데이트
                    updateEventsContainer(data);
                })
                .catch(error => console.error('Error:', error));
        }

        function updateEventsContainer(data) {
            // eventsContainer 업데이트
            var eventsContainer = document.getElementById('eventsContainer');

            // 검색 결과를 보여주는 부분 업데이트
            var itemsGrid = document.createElement('div');
            itemsGrid.classList.add('items-grid');

            if (data && data.length > 0) {
                data.forEach(event => {
                    var item = document.createElement('div');
                    item.classList.add('item');

                    var star = document.createElement('div');
                    //star.classList.add('star');
                    star.dataset.cultureInfoId = event.id;
                    //star.innerText = '★';
                    star.addEventListener('click', function(e) {
                        toggleStar(e.target);
                    });


                    var imageLink = document.createElement('a');
                    imageLink.href = `/eventInfo?title=${encodeURIComponent(event.title)}`;

                    var image = document.createElement('img');
                    image.src = event.main_IMG;
                    image.alt = 'Event Image';
                    image.width = 200;
                    image.height = 280;

                    var title = document.createElement('span');
                    title.innerText = event.title;
                    title.classList.add('gridText');
                    title.style.display='inline-block';
                    title.style.marginLeft='30px';
                    title.style.marginRight='30px';


                    var imageContainer = document.createElement('div');
                    imageLink.appendChild(image);
                    imageContainer.appendChild(imageLink);

                    var titleContainer = document.createElement('div');
                    titleContainer.appendChild(title);

                    item.appendChild(star);
                    item.appendChild(imageContainer);
                    item.appendChild(titleContainer);
                    itemsGrid.appendChild(item);
                });
            } else {
                var noResultMessage = document.createElement('p');
                noResultMessage.innerText = '검색 결과가 없습니다.';
                eventsContainer.innerHTML = ''; // 기존 내용 지우기
                eventsContainer.appendChild(noResultMessage);
                return;
            }

            eventsContainer.innerHTML = ''; // 기존 내용 지우기
            eventsContainer.appendChild(itemsGrid);
        }

        /*
        function toggleStar(star) {
            star.classList.toggle('active');

            var cultureInfoId = star.dataset.cultureInfoId;

            // AJAX 요청을 서버에 보냅니다.
            fetch('/home', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cultureInfoId: cultureInfoId }),
            })
                .then(response => response.json())
                .then(data => {
                    // 응답 처리
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

         */

    </script>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // 기본 이벤트 처리 방지

            var keyword = document.querySelector('.search-bar').value.trim();
            if (keyword === '') {
                return; // 검색어가 비어 있으면 아무런 작업도 하지 않음
            }

            // 서버로 GET 요청 보내기
            fetch(`/search?keyword=${encodeURIComponent(keyword)}`)
                .then(response => response.json()) // JSON 형식으로 응답 받기
                .then(data => {
                    // 검색 결과를 받아서 UI 업데이트
                    updateEventsContainer(data);
                })
                .catch(error => console.error('Error:', error));
        });
    </script>

</body>
</html>