<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서울은 지금</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/css.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body>
    <div id="content">

        <div class="header">
            <h1>
                <a href="home">
                    서울은 지금
                </a>
            </h1>

            <div class="weather-toMap-container">
                <div class="weather">

                    <div class="ToMAP">
                        <a href="/mapPage" style="text-decoration: none">
                            <img src="image/map.png" alt="지도 보기">
                        </a>
                    </div>

                    <div class='CurrIcon'></div>
                    <div class="weather-info" style="display: flex; flex-direction: column; align-items: flex-start; position: relative; right: 10px;">
                        <div class='CurrTemp' style="text-align: center; font-size: 20px; font-weight: bold;"></div>
                        <div class='City' style="text-align: center; font-size: 20px; font-weight: bold;"></div>
                    </div>
                </div>


                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function (){
                        $.ajax({
                            url: 'https://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=5d9b3b800dfed24a20f68eeb480f5d9d&units=metric',
                            dataType:'json',
                            type:'GET',
                            success: function (data){
                                var iconUrl = 'http://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png';
                                var temperature = Math.floor(data.main.temp) + '°C';
                                var city = data.name;

                                $('.CurrIcon').html('<img src="' + iconUrl + '">');
                                $('.CurrTemp').text(temperature);
                                $('.City').text(city);
                            }
                        })
                    });
                </script>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function (){
                        $.ajax({
                            url: 'https://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=5d9b3b800dfed24a20f68eeb480f5d9d&units=metric',
                            dataType:'json',
                            type:'GET',
                            success: function (data){
                                var iconUrl = 'http://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png';
                                var temperature = Math.floor(data.main.temp) + '°C';
                                var city = data.name;

                                $('.CurrIcon').html('<img src="' + iconUrl + '">');
                                $('.CurrTemp').text(temperature);
                                $('.City').text(city);
                            }
                        })
                    });
                </script>

            </div>
        </div>
    </div>

    <div class="background-image-container">
        <div class="swiper-container">
            <!-- 슬라이더의 각 슬라이드를 담을 래퍼 -->
            <div class="swiper-wrapper">
                <!-- Thymeleaf를 사용하여 아이템들을 반복하여 각 슬라이드 생성 -->
                <div th:each="item : ${items}" class="swiper-slide">
                    <div class="image-container">
                        <a th:href="@{/eventInfo(title=${item.TITLE})}">
                            <img th:src="${item.MAIN_IMG}" alt="Image"/>
                        </a>
                    </div>
                    <div class="title">
                        <h3 th:text="${item.TITLE}">Item Title</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
        </div>
    </div>

    <div class="search-container">
        <div class="searchUpPart">
            <form class="dateSearch" id="dateSearchForm" action="/submit-date-range" method="post">
                <div class="date" style="padding-right: 10px">
                    <label for="date1">
                        <input type="date" id="date1" name="startDate"></input>
                    </label>
                </div>
                <div class="date" style="display: flex; align-items: center; height: 60px; padding-right: 10px; padding-left: 10px "> ~ </div>
                <div class="date" style="padding-left: 10px">
                    <label for="date2">
                        <input type="date" id="date2" name="endDate" value="2024-12-31"></input>
                    </label>
                </div>
            </form>


            <form class="search-part" id="searchForm" action="/search" method="post">
                <input type="text" name="keyword" class="search-bar" placeholder="키워드를 입력하세요. (ex: 행사명, 장소, 역 등 )" >
                <button class="search-button" type="submit">🔍︎</button>
            </form>

        </div>
        <br><br>
        <div class="searchDownPart">
            <div class="eventType">
                <input type="checkbox" id="select0" name="eventType" value="전체"><label for="select0" id="select0Label"> 전체</label>
                <input type="checkbox" id="select1" name="eventType" value="뮤지컬/오페라"><label for="select1" id="select1Label"> 뮤지컬/오페라</label>
                <input type="checkbox" id="select2" name="eventType" value="연극"><label for="select2" id="select2Label"> 연극</label>
                <input type="checkbox" id="select3" name="eventType" value="무용"><label for="select3" id="select3Label"> 무용</label>
                <input type="checkbox" id="select4" name="eventType" value="국악"><label for="select4" id="select4Label"> 국악</label>
                <input type="checkbox" id="select5" name="eventType" value="클래식"><label for="select5" id="select5Label"> 클래식</label>
                <input type="checkbox" id="select6" name="eventType" value="전시/미술"><label for="select6" id="select6Label"> 전시/미술</label>
                <input type="checkbox" id="select7" name="eventType" value="교육/체험"><label for="select7" id="select7Label"> 교육/체험</label>
                <input type="checkbox" id="select8" name="eventType" value="콘서트"><label for="select8" id="select8Label"> 콘서트</label>
                <input type="checkbox" id="select9" name="eventType" value="영화"><label for="select9" id="select9Label"> 영화</label>
                <input type="checkbox" id="select10" name="eventType" value="독주/독창회"><label for="select10" id="select10Label"> 독주/독창회</label>
                <input type="checkbox" id="select11" name="eventType" value="축제"><label for="select11" id="select11Label"> 축제</label>
                <input type="checkbox" id="select12" name="eventType" value="기타"><label for="select12" id="select12Label"> 기타</label>
            </div><br><br>

            <div class="locationName">
                <input type="checkbox" id="location0" name="location" value="전체"><label for="location0" id="location0Label"> 전체</label>
                <input type="checkbox" id="location1" name="location" value="강남구"><label for="location1" id="location1Label"> 강남구</label>
                <input type="checkbox" id="location2" name="location" value="강동구"><label for="location2" id="location2Label"> 강동구</label>
                <input type="checkbox" id="location3" name="location" value="강북구"><label for="location3" id="location3Label"> 강북구</label>
                <input type="checkbox" id="location4" name="location" value="강서구"><label for="location4" id="location4Label"> 강서구</label>
                <input type="checkbox" id="location5" name="location" value="관악구"><label for="location5" id="location5Label"> 관악구</label>
                <input type="checkbox" id="location6" name="location" value="광진구"><label for="location6" id="location6Label"> 광진구</label>
                <input type="checkbox" id="location7" name="location" value="구로구"><label for="location7" id="location7Label"> 구로구</label>
                <input type="checkbox" id="location8" name="location" value="금천구"><label for="location8" id="location8Label"> 금천구</label>
                <input type="checkbox" id="location9" name="location" value="노원구"><label for="location9" id="location9Label"> 노원구</label>
                <input type="checkbox" id="location10" name="location" value="도봉구"><label for="location10" id="location10Label"> 도봉구</label>
                <input type="checkbox" id="location11" name="location" value="동대문구"><label for="location11" id="location11Label"> 동대문구</label>
                <input type="checkbox" id="location12" name="location" value="동작구"><label for="location12" id="location12Label"> 동작구</label>
                <input type="checkbox" id="location13" name="location" value="마포구"><label for="location13" id="location13Label"> 마포구</label>
                <input type="checkbox" id="location14" name="location" value="서대문구"><label for="location14" id="location14Label"> 서대문구</label>
                <input type="checkbox" id="location15" name="location" value="서초구"><label for="location15" id="location15Label"> 서초구</label>
                <input type="checkbox" id="location16" name="location" value="성동구"><label for="location16" id="location16Label"> 성동구</label>
                <input type="checkbox" id="location17" name="location" value="성북구"><label for="location17" id="location17Label"> 성북구</label>
                <input type="checkbox" id="location18" name="location" value="송파구"><label for="location18" id="location18Label"> 송파구</label>
                <input type="checkbox" id="location19" name="location" value="양천구"><label for="location19" id="location19Label"> 양천구</label>
                <input type="checkbox" id="location20" name="location" value="영등포구"><label for="location20" id="location20Label"> 영등포구</label>
                <input type="checkbox" id="location21" name="location" value="용산구"><label for="location21" id="location21Label"> 용산구</label>
                <input type="checkbox" id="location22" name="location" value="은평구"><label for="location22" id="location22Label"> 은평구</label>
                <input type="checkbox" id="location23" name="location" value="종로구"><label for="location23" id="location23Label"> 종로구</label>
                <input type="checkbox" id="location24" name="location" value="중구"><label for="location24" id="location24Label"> 중구</label>
                <input type="checkbox" id="location25" name="location" value="중랑구"><label for="location25" id="location25Label"> 중랑구</label>


            </div><br><br>
            <div class="detailButton">
            <button id="detailSearch"> 검색하기 </button>
            <button id="resetButton"> 선택 초기화 </button>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // eventType과 locationName 섹션의 모든 체크박스 처리
                document.querySelectorAll('.eventType input[type="checkbox"], .locationName input[type="checkbox"]').forEach(function(checkbox) {
                    checkbox.addEventListener('change', function() {
                        const parentDiv = this.closest('div'); // 현재 체크박스의 부모 div
                        const allCheckbox = parentDiv.querySelector('input[type="checkbox"][value="전체"]'); // 현재 섹션의 '전체' 체크박스

                        if (this.value === "전체") {
                            // '전체' 체크박스가 선택된 경우, 다른 모든 체크박스 해제
                            if (this.checked) {
                                parentDiv.querySelectorAll('input[type="checkbox"]:not([value="전체"])').forEach(cb => cb.checked = false);

                            }
                        } else {
                            // '전체'가 아닌 체크박스 선택 시 '전체' 체크박스 해제
                            allCheckbox.checked = false;

                            // 다른 체크박스가 하나라도 선택된 경우 '전체' 체크박스 유지를 해제
                            const anyChecked = Array.from(parentDiv.querySelectorAll('input[type="checkbox"]:not([value="전체"])')).some(cb => cb.checked);
                            if (!anyChecked) {
                                // 모든 체크박스가 해제되면 '전체' 체크박스를 자동으로 선택하지 않음
                                allCheckbox.checked = false;
                            }
                        }
                    });
                });

                // '선택 초기화' 버튼 클릭 이벤트
                document.getElementById('resetButton').addEventListener('click', function() {
                    document.querySelectorAll('.searchDownPart input[type="checkbox"]').forEach(checkbox => checkbox.checked = false);
                });


                document.getElementById('detailSearch').addEventListener('click', function(event) {
                    event.preventDefault();
                    var eventTypes = Array.from(document.querySelectorAll('.eventType input[type="checkbox"]:checked')).map(checkbox => checkbox.value).join(",");
                    var locations = Array.from(document.querySelectorAll('.locationName input[type="checkbox"]:checked')).map(checkbox => checkbox.value).join(",");
                    var keyword = document.querySelector('.search-bar').value.trim(); // 키워드 검색어
                    var startDate = document.getElementById('date1').value; // 시작 날짜
                    var endDate = document.getElementById('date2').value; // 종료 날짜

                    fetch(`/searchEvents?keyword=${encodeURIComponent(keyword)}&startDate=${startDate}&endDate=${endDate}&eventTypes=${eventTypes}&locations=${locations}`, {
                        headers: {
                            'Accept': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            updateEventsContainer(data); // 검색 결과로 UI 업데이트하는 함수
                        })
                        .catch(error => console.error('Error:', error));
                });
            });

        </script>

    </div>

    <script>
        // 현재 날짜를 가져오는 함수
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            let month = today.getMonth() + 1;
            let day = today.getDate();

            // 월과 일이 한 자리 숫자인 경우 앞에 0을 추가해줍니다.
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            return `${year}-${month}-${day}`;
        }

        // input 요소의 value 속성에 현재 날짜를 설정합니다.
        document.getElementById('date1').value = getCurrentDate();
    </script>



    <div class="sort-part">
        <!-- 옵션들이 담길 드롭다운 컨테이너, 기본적으로 숨겨져 있습니다 -->
        <select id="sortOptions" onchange="sort()">
            <option value="전체" th:selected="${selectedMonth == '전체'}">전체</option>
            <!--<option value="즐겨찾기" th:selected="${selectedMonth == '즐겨찾기'}">즐겨찾기</option>-->
            <option value="1" th:selected="${selectedMonth == '1'}">1월</option>
            <option value="2" th:selected="${selectedMonth == '2'}">2월</option>
            <option value="3" th:selected="${selectedMonth == '3'}">3월</option>
            <option value="4" th:selected="${selectedMonth == '4'}">4월</option>
            <option value="5" th:selected="${selectedMonth == '5'}">5월</option>
            <option value="6" th:selected="${selectedMonth == '6'}">6월</option>
            <option value="7" th:selected="${selectedMonth == '7'}">7월</option>
            <option value="8" th:selected="${selectedMonth == '8'}">8월</option>
            <option value="9" th:selected="${selectedMonth == '9'}">9월</option>
            <option value="10" th:selected="${selectedMonth == '10'}">10월</option>
            <option value="11" th:selected="${selectedMonth == '11'}">11월</option>
            <option value="12" th:selected="${selectedMonth == '12'}">12월</option>


        </select>


    </div>
    <br>
    <div id="eventsContainer">
    <!-- 검색 결과 표시 -->
        <div th:if="${lists != null}" th:unless="${lists.isEmpty()}">
            <div class="items-grid">
                <div  th:each="event : ${lists}" class="item">
                    <div style="padding: 10px">
                        <!--<div class="star" th:data-culture-info-id="${event.Id}">★</div>-->
                        <a th:href="@{/eventInfo(title=${event.TITLE})}">
                            <img th:src="${event.MAIN_IMG}" alt="Event Image" width="200" height="280">
                        </a>
                        <div class="gridText">
                            <span th:text="${event.TITLE}" ></span>
                        </div>
                        <br><br>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${lists == null || lists.isEmpty()}">
            <p>검색 결과가 없습니다.</p>
        </div>
    </div>

    <!-- 페이지 버튼 -->
    <div id="pagination" th:if="${totalPages > 1}">
        <div class="button_number">
            <div class="row">
                <button style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home'}}">«</a>
                </button>

                <button th:if="${currentPage > 1}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + (startPage - 1)}}"><</a>
                </button>

                <button th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + pageNumber}}" th:text="${pageNumber}"></a>
                </button>


                <button th:if="${currentPage < totalPages}" style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + (endPage + 1)}}">>︎</a>
                </button>

                <button style="display: inline-block">
                    <a class="page-link" th:href="@{${'/home?page=' + totalPages}}">»︎</a>
                </button>
            </div>
        </div>
    </div> <br>


    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            autoplay: {
                delay:3000 },
            centeredSlide:true,
            loop: true,
            debugger: true,
            slideToClickedSlide: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true},
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar:{
            el:'.swiper-scrollbar',},
            slidesPerView: 5,
            slidesPerGroup: 1,
            spaceBetween:10,
        });
    </script>


    <script>

        let currentPage = 1;
        const pageSize = 10; // Set the page size here

        function sort(page) {
            currentPage = page || 1; // Use the provided page or the current page if not provided
            var selectedOption = document.getElementById('sortOptions').value;


            // "전체"가 선택되었을 때 홈페이지로 리다이렉트
            if (selectedOption === "전체") {
                window.location.href = '/home'; // 페이지 이동
                return; // 함수를 여기서 종료하여 더 이상 실행하지 않음
            }

            // 서버로 드롭박스에서 선택된 월과 페이징 정보를 넘김
            fetch(`/monthlySort?month=${selectedOption}&page=${currentPage}&size=${pageSize}`)
                .then(response => response.json())
                .then(data => {
                    updateEventsContainer(data.data); // 화면 업데이트
                    updatePagination(data.currentPage, data.totalPages); // 페이지 번호 업데이트

                })
                .catch(error => console.error('Error:', error));
        }

        function updatePagination(currentPage, totalPages) {
            // 기존에 존재하는 .button_number 및 .row 요소를 찾거나 새로 생성합니다.
            const paginationContainer = document.getElementById('pagination');
            let buttonNumberDiv = paginationContainer.querySelector('.button_number');
            let rowDiv = buttonNumberDiv ? buttonNumberDiv.querySelector('.row') : null;

            // .button_number나 .row가 없다면 새로 만듭니다.
            if (!buttonNumberDiv) {
                buttonNumberDiv = document.createElement('div');
                buttonNumberDiv.className = 'button_number';
                paginationContainer.appendChild(buttonNumberDiv);
            }
            if (!rowDiv) {
                rowDiv = document.createElement('div');
                rowDiv.className = 'row';
                buttonNumberDiv.appendChild(rowDiv);
            }

            // .row 내부를 초기화합니다.
            rowDiv.innerHTML = '';

            const pagesPerGroup = 10;
            const currentGroup = Math.ceil(currentPage / pagesPerGroup);
            const groupStartPage = (currentGroup - 1) * pagesPerGroup + 1;
            const groupEndPage = Math.min(groupStartPage + pagesPerGroup - 1, totalPages);

            // 첫 페이지 버튼
            if (currentPage > 1) {
                rowDiv.appendChild(createPageButton(1, '<<'));
            }

            // 이전 페이지 그룹 버튼
            if (currentGroup > 1) {
                rowDiv.appendChild(createPageButton(groupStartPage - 1, '<'));
            }

            // 페이지 번호 버튼
            // 페이지 버튼들을 .row에 추가합니다.
            for (let i = groupStartPage; i <= groupEndPage; i++) {
                rowDiv.appendChild(createPageButton(i, i.toString(), currentPage === i));
            }

            // 다음 페이지 그룹 버튼
            if (currentGroup < Math.ceil(totalPages / pagesPerGroup)) {
                rowDiv.appendChild(createPageButton(groupEndPage + 1, '>'));
            }

            // 마지막 페이지 버튼
            if (currentPage < totalPages) {
                rowDiv.appendChild(createPageButton(totalPages, '>>'));
            }
        }

        function createPageButton(page, text, isActive) {
            const button = document.createElement('button');

            button.textContent = text;
            button.style.backgroundColor = isActive ? '#C5D7A4' : '기본 버튼 색상'; // 활성화 상태일 때 색상을 적용하기 위해 삼항 연산자 사용
            button.style.color = 'white'; // 모든 버튼의 글자 색상을 하얗게 가정




            button.textContent = text;
            button.disabled = isActive; // 현재 페이지는 비활성화
            button.onclick = function() { sort(page); };

            // 이미 존재하는 .row div에 접근
            const rowDiv = document.querySelector('#pagination .button_number .row');

            // rowDiv 안에 버튼 추가
            rowDiv.appendChild(button);

            return button;
        }



        function updateEventsContainer(data) {
            // eventsContainer 업데이트
            var eventsContainer = document.getElementById('eventsContainer');

            // 검색 결과를 보여주는 부분 업데이트
            var itemsGrid = document.createElement('div');
            itemsGrid.classList.add('items-grid');

            if (data && data.length > 0) {
                data.forEach(event => {
                    var item = document.createElement('div');
                    item.classList.add('item');

                    var imageLink = document.createElement('a');
                    imageLink.href = `/eventInfo?title=${encodeURIComponent(event.title)}`;

                    var image = document.createElement('img');
                    image.src = event.main_IMG;
                    image.alt = 'Event Image';
                    image.width = 240;
                    image.height = 360;
                    image.style.marginTop='12px';

                    var title = document.createElement('span');
                    title.innerText = event.title;
                    title.classList.add('gridText');
                    title.style.display='inline-block';
                    title.style.marginLeft='10px';
                    title.style.marginRight='10px';
                    title.style.marginBottom='40px';


                    var imageContainer = document.createElement('div');
                    imageLink.appendChild(image);
                    imageContainer.appendChild(imageLink);

                    var titleContainer = document.createElement('div');
                    titleContainer.appendChild(title);

                    item.appendChild(imageContainer);
                    item.appendChild(titleContainer);
                    itemsGrid.appendChild(item);
                });
            } else {
                var noResultMessage = document.createElement('p');
                noResultMessage.innerText = '검색 결과가 없습니다.';
                eventsContainer.innerHTML = ''; // 기존 내용 지우기
                eventsContainer.appendChild(noResultMessage);
                return;
            }

            eventsContainer.innerHTML = ''; // 기존 내용 지우기
            pagination.innerHTML = ''; // 페이지 버튼 지우기
            eventsContainer.appendChild(itemsGrid);
        }


    </script>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // 기본 이벤트 처리 방지

            var keyword = document.querySelector('.search-bar').value.trim();

            // 서버로 GET 요청 보내기
            fetch(`/search?keyword=${encodeURIComponent(keyword)}`)
                .then(response => response.json()) // JSON 형식으로 응답 받기
                .then(data => {
                    // 검색 결과를 받아서 UI 업데이트
                    updateEventsContainer(data);
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('dateSearchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // 기본 이벤트 처리 방지

            // 입력된 날짜 값을 가져옵니다.
            var startDate = document.getElementById('date1').value;
            var endDate = document.getElementById('date2').value;

            console.log(startDate);
            console.log(endDate);


            // fetch API를 사용하여 서버에 비동기 요청을 보냅니다.
            fetch('/dateRange', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // 요청 본문에 날짜 데이터를 포함합니다.
                body: JSON.stringify({ startDate: startDate, endDate: endDate }),
            })
                .then(function(response) {
                    return response.json(); // 응답을 JSON 형태로 파싱합니다.
                })
                .then(function(data) {
                    updateEventsContainer(data);
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });

    </script>

</body>
</html>